#!/usr/bin/env bash

set completion-ignore-case on # Ignore character casing during autocompletion
set show-all-if-ambiguous on # List autocomplete matches when more than one possible completion exists

# Allow the use of UTF-8 for input/output.

set convert-meta off
set input-meta on
set output-meta on
